.header-menu {
    height: calc(100vh - 5rem);
    width: 100%;
}

@media screen and (min-width: 1000px) {
    .header-menu {
        height: calc(100vh - 5rem);
        width: 25%;
    }
}

@media screen and (min-width: 720px) {
    .header-menu {
        height: calc(100vh - 5rem);
        width: 33%;
    }
}
